<header class="bg-white shadow">
  <div class="flex justify-between px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <h1 class="text-2xl font-bold text-gray-900">
    Tokens <span class="text-xs font-light text-gray-400 align-middle">NOTE: Super basic first pass at this page. Lots more in the works.</span>
    </h1>
  </div>
</header>

<main>
  <div class="py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="flex flex-col">
      <div class="-my-2 sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle sm:px-6 lg:px-8">
          

          <div class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg">
          <%= turbo_frame_tag "items" do %>
          <div class="overflow-x-auto">
          <table class="min-w-full divide-y divide-gray-200 table-fixed">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="sticky left-0 px-4 py-3 text-xs font-medium text-left text-gray-500 uppercase bg-gray-50 whitespace-nowrap">
                  <%= heading_link(nil, 'Token ID', 'id', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="px-4 py-3 text-xs font-medium text-left text-gray-500 uppercase number whitespace-nowrap <%= cell_color_sort(params[:sort], 'name', true) %>">
                  <%= heading_link(nil, 'Token Name', 'name', 'text', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="px-4 py-3 text-xs font-medium text-left text-gray-500 uppercase number whitespace-nowrap <%= cell_color_sort(params[:sort], 'artist', true) %>">
                  <%= heading_link(nil, 'Artist', 'artist', 'text', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="px-4 py-3 text-xs font-medium text-left text-gray-500 uppercase number whitespace-nowrap <%= cell_color_sort(params[:sort], 'balance', true) %>">
                  <%= heading_link(nil, 'Progress', 'balance', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="px-4 py-3 text-xs font-medium text-left text-gray-500 uppercase number whitespace-nowrap <%= cell_color_sort(params[:sort], 'created_at', true) %>">
                  <%= heading_link(nil, 'Created', 'created_at', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="px-4 py-3 text-xs font-medium text-left text-gray-500 uppercase number whitespace-nowrap <%= cell_color_sort(params[:sort], 'royalties', true) %>">
                  <%= heading_link(nil, 'Royalties', 'royalties', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="px-4 py-3 text-xs font-medium text-left text-gray-500 uppercase number whitespace-nowrap <%= cell_color_sort(params[:sort], 'floor', true) %>">
                  <%= heading_link(nil, 'Floor', 'floor', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="px-4 py-3 text-xs font-medium text-left text-gray-500 uppercase number whitespace-nowrap <%= cell_color_sort(params[:sort], 'median', true) %>">
                  <%= heading_link(nil, 'Median', 'median', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="px-4 py-3 text-xs font-medium text-left text-gray-500 uppercase number whitespace-nowrap <%= cell_color_sort(params[:sort], 'total_listing', true) %>">
                  <%= heading_link(nil, '# Listings', 'total_listing', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="px-4 py-3 text-xs font-medium text-left text-gray-500 uppercase number whitespace-nowrap <%= cell_color_sort(params[:sort], 'highest_sold', true) %>">
                  <%= heading_link(nil, 'Highest Sold', 'highest_sold', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="px-4 py-3 text-xs font-medium text-left text-gray-500 uppercase number whitespace-nowrap <%= cell_color_sort(params[:sort], 'lowest_sold', true) %>">
                  <%= heading_link(nil, 'Lowest Sold', 'lowest_sold', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="px-4 py-3 text-xs font-medium text-left text-gray-500 uppercase number whitespace-nowrap <%= cell_color_sort(params[:sort], 'prim_total', true) %>">
                  <%= heading_link(nil, 'Total Sales', 'prim_total', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="px-4 py-3 text-xs font-medium text-left text-gray-500 uppercase number whitespace-nowrap <%= cell_color_sort(params[:sort], 'sec_volume_tz', true) %>">
                  <%= heading_link(nil, '2nd Sales', 'sec_volume_tz', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="px-4 py-3 text-xs font-medium text-left text-gray-500 uppercase number whitespace-nowrap <%= cell_color_sort(params[:sort], 'sec_volume_nb', true) %>">
                  <%= heading_link(nil, '# Sales', 'sec_volume_nb', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="px-4 py-3 text-xs font-medium text-left text-gray-500 uppercase number whitespace-nowrap <%= cell_color_sort(params[:sort], 'avg_price_24h', true) %>">
                  <%= heading_link(nil, 'Avg Price (24)', 'avg_price_24h', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="px-4 py-3 text-xs font-medium text-left text-gray-500 uppercase number whitespace-nowrap <%= cell_color_sort(params[:sort], 'sec_volume_tz_24', true) %>">
                  <%= heading_link(nil, '2nd Sales (24)', 'sec_volume_tz_24', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="px-4 py-3 text-xs font-medium text-left text-gray-500 uppercase number whitespace-nowrap <%= cell_color_sort(params[:sort], 'sec_volume_nb_24', true) %>">
                  <%= heading_link(nil, '# Sales (24)', 'sec_volume_nb_24', 'number', params[:dir], params[:sort], 'token') %>
                </th>
              </tr>
            </thead>
              
            <tbody>
              <% @tokens.each do |token| %>
              <tr class="bg-white">
                <td class="absolute sticky left-0 max-w-xs px-4 py-4 text-sm text-gray-800 truncate bg-white border-r border-gray-200 whitespace-nowrap">
                  <%= link_to token.fxid, "https://www.fxhash.xyz/marketplace/generative/#{token.fxid}", class: 'text-blue-600 hover:text-blue-900' %>
                </td>
                <td class="px-4 py-4 text-sm text-gray-800 whitespace-nowrap <% unless params[:sort] == 'name' %>bg-gradient-to-r from-gray-50 via-white to-white<% end %> <%= cell_color_sort(params[:sort], 'name') %>">
                  <%= link_to token.name, "https://www.fxhash.xyz/marketplace/generative/#{token.fxid}", class: 'text-blue-600 hover:text-blue-900' %>
                </td>
                <td class="px-4 py-4 text-sm text-gray-800 whitespace-nowrap <%= cell_color_sort(params[:sort], 'artist') %>">
                  <%= link_to token.author_name.to_s, "https://www.fxhash.xyz/pkh/#{token.author_address}" %>
                </td>
                <td class="px-4 py-4 text-sm text-gray-800 whitespace-nowrap <%= cell_color_sort(params[:sort], 'balance') %>">
                  <div class="flex">
                    <div class="w-24 h-1 mt-1 bg-gray-200">
                    <% 
                      progress_color = token.mint_progress.to_f >= 100 ? 'bg-green-500' : 'bg-blue-500'
                    %>
                      <div class="h-1 <%= progress_color %>" style="width: <%= token.mint_progress %>%"></div> 
                    </div> 
                    <div class="ml-2 text-xs text-gray-500">(<%= token.supply - token.balance %>/<%= token.supply %>)</div>
                  </div>
                </td>
                <td class="px-4 py-4 text-sm text-gray-800 whitespace-nowrap <%= cell_color_sort(params[:sort], 'created_at') %>">
                  <%= token.created_at.strftime("%m-%-e-%y %H:%M") %>
                </td>
                <td class="px-4 py-4 text-sm text-gray-800 whitespace-nowrap <%= cell_color_sort(params[:sort], 'royalties') %>">
                  <%= (token.royalties.to_f / 10).to_s.sub(/\.?0+$/, '') %>%
                </td>
                <td class="px-4 py-4 text-sm text-gray-800 whitespace-nowrap <%= cell_color_sort(params[:sort], 'floor') %>">
                  <%= token.floor.present? ? display_tez(token.floor) : "<span class='text-gray-200'>—</span>".html_safe %>
                </td>
                <td class="px-4 py-4 text-sm text-gray-800 whitespace-nowrap <%= cell_color_sort(params[:sort], 'median') %>">
                  <%= token.median.present? ? display_tez(token.median) : "<span class='text-gray-200'>—</span>".html_safe %>
                </td>
                <td class="px-4 py-4 text-sm text-gray-800 whitespace-nowrap <%= cell_color_sort(params[:sort], 'total_listing') %>">
                  <%= token.total_listing.present? ? token.total_listing.to_i : "<span class='text-gray-200'>—</span>".html_safe %>
                </td>
                <td class="px-4 py-4 text-sm text-gray-800 whitespace-nowrap <%= cell_color_sort(params[:sort], 'highest_sold') %>">
                  <%= token.highest_sold.present? ? display_tez(token.highest_sold) : "<span class='text-gray-200'>—</span>".html_safe %>
                </td>
                <td class="px-4 py-4 text-sm text-gray-800 whitespace-nowrap <%= cell_color_sort(params[:sort], 'lowest_sold') %>">
                  <%= token.lowest_sold.present? ? display_tez(token.lowest_sold) : "<span class='text-gray-200'>—</span>".html_safe %>
                </td>
                <td class="px-4 py-4 text-sm text-gray-800 whitespace-nowrap <%= cell_color_sort(params[:sort], 'prim_total') %>">
                  <%= token.prim_total.present? ? display_tez(token.prim_total) : "<span class='text-gray-200'>—</span>".html_safe %>
                </td>
                <td class="px-4 py-4 text-sm text-gray-800 whitespace-nowrap <%= cell_color_sort(params[:sort], 'sec_volume_tz') %>">
                  <%= token.sec_volume_tz.present? ? display_tez(token.sec_volume_tz) : "<span class='text-gray-200'>—</span>".html_safe %>
                </td>
                <td class="px-4 py-4 text-sm text-gray-800 whitespace-nowrap <%= cell_color_sort(params[:sort], 'sec_volume_nb') %>">
                  <%= token.sec_volume_nb.present? ? token.sec_volume_nb.to_i : "<span class='text-gray-200'>—</span>".html_safe %>
                </td>
                <td class="px-4 py-4 text-sm text-gray-800 whitespace-nowrap <%= cell_color_sort(params[:sort], 'avg_price_24h') %>">
                  <%= token.avg_price_24h.to_f > 0 ? display_tez(token.avg_price_24h.to_f) : "<span class='text-gray-200'>—</span>".html_safe %>
                </td>
                <td class="px-4 py-4 text-sm text-gray-800 whitespace-nowrap <%= cell_color_sort(params[:sort], 'sec_volume_tz_24') %>">
                  <%= token.sec_volume_tz_24.present? ? display_tez(token.sec_volume_tz_24) : "<span class='text-gray-200'>—</span>".html_safe %>
                </td>
                <td class="px-4 py-4 text-sm text-gray-800 whitespace-nowrap <%= cell_color_sort(params[:sort], 'sec_volume_nb_24') %>">
                  <%= token.sec_volume_nb_24.present? ? token.sec_volume_nb_24.to_i : "<span class='text-gray-200'>—</span>".html_safe %>
                </td>
              </tr>
              <% end %>
            </tbody>
              
          </table>
          </div>
          <% end %>
          </div>
           
          
        </div>
      </div>
    </div>
  </div>
</main>