<header class="bg-white shadow">
  <div class="flex justify-between px-4 py-6 mx-auto sm:px-6 lg:px-8">
    <h1 class="text-2xl font-bold text-gray-900">
    Tokens <span class="text-xs font-light text-gray-400 align-middle">NOTE: Super basic first pass at this page. Lots more in the works.</span>
    </h1>
  </div>
</header>

<main>
  <div class="mx-auto">
    <div class="flex flex-col">
      <div class="">
        <div class="">
          
          <div class="flex flex-row-reverse bg-white border-t border-b" data-controller="column-filter" data-column-filter-type="token">
            <div class="relative inline-block text-left">
              <div>
                <button type="button" class="inline-flex justify-center w-full px-6 py-4 text-sm font-medium text-gray-700 bg-white border-l border-gray-300 hover:bg-gray-50 focus:outline-none focus:bg-gray-200" id="menu-button" aria-expanded="true" aria-haspopup="true" data-action="click->column-filter#show">
                  <i class="w-5 h-5 mr-2 text-blue-600 fa-duotone fa-table-columns"></i> Columns
                </button>
              </div>

              <div class="absolute right-0 z-50 hidden p-4 mt-2 origin-top-right bg-white rounded-md shadow-lg w-46 ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" data-column-filter-target="options">
                  
                <form class="space-y-4">
                  <% [['Token Name', 'name'], ['Artist', 'artist'], ['Progress', 'balance'], ['Created', 'created_at'], ['Royalties', 'royalties'], ['Floor', 'floor'], ['Floor Change 24h', 'floor_change_24h'], ['Median', 'median'], ['# Listings', 'total_listing'], ['Highest Sold', 'highest_sold'], ['Lowest Sold', 'lowest_sold'], ['Total Sales', 'prim_total'], ['2nd Sales', 'sec_volume_tz'], ['# Sales', 'sec_volume_nb'], ['Avg Price (24)', 'avg_price_24h'], ['2nd Sales (24)', 'sec_volume_tz_24'], ['# Sales (24)', 'sec_volume_nb_24']].each_with_index do |filter, index| %>
                    <div class="flex items-center">
                      <input id="filter-<%= index %>" name="filter" value="<%= filter[1] %>" type="checkbox" class="w-4 h-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500" data-action="click->column-filter#filter" data-column-filter-target="filters">
                      <label for="filter-<%= index %>" class="pr-6 ml-3 text-sm font-medium text-gray-900 whitespace-nowrap">
                        <%= filter[0] %>
                      </label>
                    </div>
                  <% end %>
                </form>

              </div>
            </div>
          </div>

          <div class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg">
          <%= turbo_frame_tag "items" do %>
          <div class="overflow-x-auto" data-controller="column-filter" data-column-filter-type="token">
          <table class="min-w-full border table-fixed">
            <thead class="bg-gray-200">
              <tr>
                <th scope="col" class="sticky left-0 z-50 px-4 py-3 text-xs font-medium text-left text-gray-700 uppercase bg-gray-200 whitespace-nowrap ">
                  <%= heading_link(nil, 'Token ID', 'id', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="data-head number hidden <%= cell_color_sort(params[:sort], 'name', true) %>" data-column="name">
                  <%= heading_link(nil, 'Token Name', 'name', 'text', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="data-head number hidden <%= cell_color_sort(params[:sort], 'artist', true) %>" data-column="artist">
                  <%= heading_link(nil, 'Artist', 'artist', 'text', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="data-head number hidden <%= cell_color_sort(params[:sort], 'balance', true) %>" data-column="balance">
                  <%= heading_link(nil, 'Progress', 'balance', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="data-head number hidden <%= cell_color_sort(params[:sort], 'created_at', true) %>" data-column="created_at">
                  <%= heading_link(nil, 'Created', 'created_at', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="data-head number hidden <%= cell_color_sort(params[:sort], 'royalties', true) %>" data-column="royalties">
                  <%= heading_link(nil, 'Royalties', 'royalties', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="data-head number hidden <%= cell_color_sort(params[:sort], 'floor', true) %>" data-column="floor">
                  <%= heading_link(nil, 'Floor', 'floor', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="data-head number hidden <%= cell_color_sort(params[:sort], 'floor_change_24h', true) %>" data-column="floor_change_24h">
                  <%= heading_link(nil, 'Floor Change 24h', 'floor_change_24h', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="data-head number hidden <%= cell_color_sort(params[:sort], 'median', true) %>" data-column="median">
                  <%= heading_link(nil, 'Median', 'median', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="data-head number hidden <%= cell_color_sort(params[:sort], 'total_listing', true) %>" data-column="total_listing">
                  <%= heading_link(nil, '# Listings', 'total_listing', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="data-head number hidden <%= cell_color_sort(params[:sort], 'highest_sold', true) %>" data-column="highest_sold">
                  <%= heading_link(nil, 'Highest Sold', 'highest_sold', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="data-head number hidden <%= cell_color_sort(params[:sort], 'lowest_sold', true) %>" data-column="lowest_sold">
                  <%= heading_link(nil, 'Lowest Sold', 'lowest_sold', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="data-head number hidden <%= cell_color_sort(params[:sort], 'prim_total', true) %>" data-column="prim_total">
                  <%= heading_link(nil, 'Total Sales', 'prim_total', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="data-head number hidden <%= cell_color_sort(params[:sort], 'sec_volume_tz', true) %>" data-column="sec_volume_tz">
                  <%= heading_link(nil, '2nd Sales', 'sec_volume_tz', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="data-head number hidden <%= cell_color_sort(params[:sort], 'sec_volume_nb', true) %>" data-column="sec_volume_nb">
                  <%= heading_link(nil, '# Sales', 'sec_volume_nb', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="data-head number hidden <%= cell_color_sort(params[:sort], 'avg_price_24h', true) %>" data-column="avg_price_24h">
                  <%= heading_link(nil, 'Avg Price (24)', 'avg_price_24h', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="data-head number hidden <%= cell_color_sort(params[:sort], 'sec_volume_tz_24', true) %>" data-column="sec_volume_tz_24">
                  <%= heading_link(nil, '2nd Sales (24)', 'sec_volume_tz_24', 'number', params[:dir], params[:sort], 'token') %>
                </th>
                <th scope="col" class="data-head number hidden <%= cell_color_sort(params[:sort], 'sec_volume_nb_24', true) %>" data-column="sec_volume_nb_24">
                  <%= heading_link(nil, '# Sales (24)', 'sec_volume_nb_24', 'number', params[:dir], params[:sort], 'token') %>
                </th>
              </tr>
            </thead>
              
            <tbody>
              <% @tokens.each do |token| %>
              <tr class="bg-white odd:bg-gray-50">
                <td class="absolute sticky left-0 max-w-xs px-4 py-2 text-sm text-gray-800 truncate bg-white whitespace-nowrap">
                  <%= link_to token.fxid, "https://www.fxhash.xyz/marketplace/generative/#{token.fxid}", class: 'text-blue-600 hover:text-blue-900' %>
                </td>
                <td class="data-cell hidden <%= cell_color_sort(params[:sort], 'name') %>" data-column="name">
                  <%= link_to token.name, "https://www.fxhash.xyz/marketplace/generative/#{token.fxid}", class: 'text-blue-600 hover:text-blue-900' %>
                </td>
                <td class="data-cell hidden <%= cell_color_sort(params[:sort], 'artist') %>" data-column="artist">
                  <%= link_to token.author_name.to_s, "https://www.fxhash.xyz/pkh/#{token.author_address}" %>
                </td>
                <td class="data-cell hidden <%= cell_color_sort(params[:sort], 'balance') %>" data-column="balance">
                  <div class="flex">
                    <div class="w-24 h-1 mt-1 bg-gray-200">
                    <% 
                      progress_color = token.mint_progress.to_f >= 100 ? 'bg-green-500' : 'bg-blue-500'
                    %>
                      <div class="h-1 <%= progress_color %>" style="width: <%= token.mint_progress %>%"></div> 
                    </div> 
                    <div class="ml-2 text-xs text-gray-500">(<%= token.supply - token.balance %>/<%= token.supply %>)</div>
                  </div>
                </td>
                <td class="data-cell hidden <%= cell_color_sort(params[:sort], 'created_at') %>" data-column="created_at">
                  <%= token.created_at.strftime("%m-%-e-%y %H:%M") %>
                </td>
                <td class="data-cell hidden <%= cell_color_sort(params[:sort], 'royalties') %>" data-column="royalties">
                  <%= (token.royalties.to_f / 10).to_s.sub(/\.?0+$/, '') %>%
                </td>
                <td class="data-cell hidden <%= cell_color_sort(params[:sort], 'floor') %>" data-column="floor">
                  <%= token.floor.present? ? display_tez(token.floor) : "<span class='text-gray-200'>—</span>".html_safe %>
                </td>
                <td class="data-cell hidden <%= cell_color_sort(params[:sort], 'floor_change_24h') %>" data-column="floor_change_24h">
                  <% 
                    floor_change_color = case
                    when token.floor_change_24h.to_f > 0
                      'text-green-500'
                    when token.floor_change_24h.to_f < 0
                      'text-red-500'
                    else
                      'text-gray-200'
                    end
                  %>
                  <span class=<%= floor_change_color %>><%= number_to_percentage token.floor_change_24h.to_f, precision: 1 %></span>
                </td>
                <td class="data-cell hidden <%= cell_color_sort(params[:sort], 'median') %>" data-column="median">
                  <%= token.median.present? ? display_tez(token.median) : "<span class='text-gray-200'>—</span>".html_safe %>
                </td>
                <td class="data-cell hidden <%= cell_color_sort(params[:sort], 'total_listing') %>" data-column="total_listing">
                  <%= token.total_listing.present? ? token.total_listing.to_i : "<span class='text-gray-200'>—</span>".html_safe %>
                </td>
                <td class="data-cell hidden <%= cell_color_sort(params[:sort], 'highest_sold') %>" data-column="highest_sold">
                  <%= token.highest_sold.present? ? display_tez(token.highest_sold) : "<span class='text-gray-200'>—</span>".html_safe %>
                </td>
                <td class="data-cell hidden <%= cell_color_sort(params[:sort], 'lowest_sold') %>" data-column="lowest_sold">
                  <%= token.lowest_sold.present? ? display_tez(token.lowest_sold) : "<span class='text-gray-200'>—</span>".html_safe %>
                </td>
                <td class="data-cell hidden <%= cell_color_sort(params[:sort], 'prim_total') %>" data-column="prim_total">
                  <%= token.prim_total.present? ? display_tez(token.prim_total) : "<span class='text-gray-200'>—</span>".html_safe %>
                </td>
                <td class="data-cell hidden <%= cell_color_sort(params[:sort], 'sec_volume_tz') %>" data-column="sec_volume_tz">
                  <%= token.sec_volume_tz.present? ? display_tez(token.sec_volume_tz) : "<span class='text-gray-200'>—</span>".html_safe %>
                </td>
                <td class="data-cell hidden <%= cell_color_sort(params[:sort], 'sec_volume_nb') %>" data-column="sec_volume_nb">
                  <%= token.sec_volume_nb.present? ? token.sec_volume_nb.to_i : "<span class='text-gray-200'>—</span>".html_safe %>
                </td>
                <td class="data-cell hidden <%= cell_color_sort(params[:sort], 'avg_price_24h') %>" data-column="avg_price_24h">
                  <%= token.avg_price_24h.to_f > 0 ? display_tez(token.avg_price_24h.to_f) : "<span class='text-gray-200'>—</span>".html_safe %>
                </td>
                <td class="data-cell hidden <%= cell_color_sort(params[:sort], 'sec_volume_tz_24') %>" data-column="sec_volume_tz_24">
                  <%= token.sec_volume_tz_24.present? ? display_tez(token.sec_volume_tz_24) : "<span class='text-gray-200'>—</span>".html_safe %>
                </td>
                <td class="data-cell hidden <%= cell_color_sort(params[:sort], 'sec_volume_nb_24') %>" data-column="sec_volume_nb_24">
                  <%= token.sec_volume_nb_24.present? ? token.sec_volume_nb_24.to_i : "<span class='text-gray-200'>—</span>".html_safe %>
                </td>
              </tr>
              <% end %>
            </tbody>
              
          </table>
          </div>
          <% end %>
          </div>
           
          
        </div>
      </div>
    </div>
  </div>
</main>