<header class="bg-white shadow">
  <div class="flex justify-between px-4 py-6 mx-auto sm:px-6 lg:px-8">
    <h1 class="text-2xl font-bold text-gray-900">
    Feed of Top Wallets
    </h1>
  </div>
</header>


<main class="max-w-6xl mx-auto">
  <% @items.each do |item| %>
  <div class="p-4 rounded-lg">
    <div class="relative flex items-start gap-6 overflow-hidden bg-white rounded-lg shadow-lg ring-1 ring-black/5">
      <%= link_to image_tag(ipfs_image(item.image_url), class: 'w-56 h-56'), "https://www.fxhash.xyz/marketplace/generative/#{item.token.fxid}" %>

      <div class="py-5 pr-5 grow">
        <div class="float-right mt-2"><span class="px-4 py-2 font-bold text-green-700 bg-green-200 rounded-full"><%= display_tez item.last_purchase_price_tz %></span></div>

        <h2 class="text-2xl font-bold text-gray-900 truncate"><%= link_to item.name, "https://www.fxhash.xyz/marketplace/generative/#{item.token.fxid}", class: 'hover:underline' %></h2>
        <div class="mb-12 text-sm text-gray-400">by <a href="https://www.fxhash.xyz/pkh/<%= item.token.author_address %>" class="hover:underline"><%= image_tag ipfs_image(item.token.author_avatar), class: "-mt-0.5 mr-1 inline rounded-full w-5 h-5" if item.token.author_avatar.present? %><%= item.token.author_name %></a></div>

        <div class="absolute text-sm font-medium leading-tight text-gray-500 truncate bottom-5 sm:text-base dark:text-gray-400">Purchased by <%= link_to address(item.wallet), wallet_path(item.wallet.address), class: 'hover:underline font-bold text-blue-700' %> <span class=""><%= time_ago_in_words item.last_purchase_at %> ago</span></div>
      </div>
    </div>
  </div>
  <% end %>
</main>

