<header class="bg-white shadow">
  <div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <h1 class="text-2xl font-bold text-gray-900">
    <% if @wallet.status == 'synced' %>
      <%= @wallet.address %>
    <% elsif @wallet.status == 'syncing' %>
      Syncing your fxhash collection!
    <% elsif @wallet.status == 'not_found' %>
      We couldn't find this wallet on fxhash 😢
    <% end %>
    </h1>
  </div>
</header>

<main>
  <div class="py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="flex flex-col">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          

            <% if @wallet.status == 'synced' %>

            <div class="mb-10">
              <dl class="grid grid-cols-1 mt-5 overflow-hidden bg-white divide-y divide-gray-200 rounded-lg shadow md:grid-cols-4 md:divide-y-0 md:divide-x">
                <div class="px-4 py-5 sm:p-6">
                  <dt class="text-base font-normal text-gray-900">
                    Portfolio Cost Basis
                  </dt>
                  <dd class="flex items-baseline justify-between mt-1 md:block lg:flex">
                    <div class="flex items-baseline text-2xl font-semibold text-blue-600">
                      <%= @cost_basis.round(1) %> tez
                    </div>
                  </dd>
                </div>

                <div class="px-4 py-5 sm:p-6">
                  <dt class="text-base font-normal text-gray-900">
                    Portfolio Floor Value
                  </dt>
                  <dd class="flex items-baseline justify-between mt-1 md:block lg:flex">
                    <div class="flex items-baseline text-2xl font-semibold text-blue-600">
                      <%= @floor_value.round(1) %> tez
                    </div>
                  </dd>
                </div>

                <div class="px-4 py-5 sm:p-6">
                  <dt class="text-base font-normal text-gray-900">
                    Unrealized Gains/Losses
                  </dt>
                  <dd class="flex items-baseline justify-between mt-1 md:block lg:flex">
                    <div class="flex items-baseline text-2xl font-semibold text-blue-600">
                      <span class="<%= @unrealized > 0 ? 'text-green-500' : 'text-red-500' %>"><%= (@unrealized).round(1) %> tez</span>
                    </div>
                  </dd>
                </div>

                <div class="px-4 py-5 sm:p-6">
                  <dt class="text-base font-normal text-gray-900">
                    Portfolio Size
                  </dt>
                  <dd class="flex items-baseline justify-between mt-1 md:block lg:flex">
                    <div class="flex items-baseline text-2xl font-semibold text-blue-600">
                      <%= @items.count %>
                    </div>
                  </dd>
                </div>
              </dl>
            </div>

            <div class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200 sortable">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    Item
                  </th>
                  <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase number">
                    Token
                  </th>
                  <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase number">
                    Last Price
                  </th>
                  <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase number">
                    Floor
                  </th>
                  <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase number">
                    Highest Sold
                  </th>
                  <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase number">
                    2nd Sales 24h
                  </th>
                  <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                    2nd Sales 24h
                  </th>
                </tr>
              </thead>
              <tbody>
                <% @items.each do |item| %>
                <tr class="bg-white">
                  <td class="px-6 py-4 text-sm text-gray-800 whitespace-nowrap">
                    <%= link_to item.name, "https://www.fxhash.xyz/gentk/#{item.fxid}", class: 'text-blue-600 hover:text-blue-900' %>
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-800 whitespace-nowrap">
                    <%= link_to item.token.fxid, "https://www.fxhash.xyz/marketplace/generative/#{item.token.fxid}", class: 'text-blue-600 hover:text-blue-900' %>
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-800 whitespace-nowrap">
                  <% if item.last_purchase_price_tz.present? %>
                    <% last_purchase_price_tz = (item.last_purchase_price_tz / 1000000).to_s.sub(/\.?0+$/, '') %> 
                    
                    <%= last_purchase_price_tz %> tez
                  <% end %>
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-800 whitespace-nowrap">
                    <% if item.last_purchase_price_tz.present? %>
                    <% 
                      floor_color = item.token.floor.to_f > last_purchase_price_tz.to_f ? 'text-green-500' : 'text-red-500'
                    %>
                    <%= item.token.floor.present? ? "<span class='#{floor_color}'>#{item.token.floor.to_f.round(2).to_s.sub(/\.?0+$/, '')} tez</span>".html_safe : "<span class='text-gray-200'>—</span>".html_safe %>
                    <% end %>
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-800 whitespace-nowrap">
                    <%= item.token.highest_sold.present? ? "#{item.token.highest_sold.to_f.round(2).to_s.sub(/\.?0+$/, '')} tez" : "<span class='text-gray-200'>—</span>".html_safe %>
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-800 whitespace-nowrap">
                    <%= item.token.sec_volume_tz_24.present? ? "#{item.token.sec_volume_tz_24.to_f.round(2).to_s.sub(/\.?0+$/, '')} tez" : "<span class='text-gray-200'>—</span>".html_safe %>
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-800 whitespace-nowrap">
                    <%= item.token.sec_volume_nb_24.to_i %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
            </div>
            <% elsif @wallet.status == 'syncing' %>
            <div class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg">
            <div class="px-8 py-5 bg-white">
              <p>We're currently syncing your wallet! Refresh the page in a few seconds for 🪄.</p>
            </div>
            </div>
            <% elsif @wallet.status == 'not_found' %>
            <div class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg">
            <div class="px-8 py-5 bg-white">
              <p>Looks like this isn't a valid wallet address or account on fxhash.</p>
            </div>
            </div>
            <% end %>
          
        </div>
      </div>
    </div>
  </div>
</main>